body {
	font-family: 'Press Start 2P', cursive;
	color: white;
}

.footerlinks{
	color: #ffffff;
	text-decoration: none !important;
}

	.footerlinks:hover{
		color: #ffd800;
	}

#footer1{
	background-color: gray;
}

#footer2 {
	background-color: gray;
}

.container {
	text-align: center;
	font-size: 20px;
}

.homepage {
	background-image: url('../Images/PageWalls/homeWall.png');
}
.homepage-text{
	padding: 32px;
	font-size: 3vw;
}

.aboutme {
	background-image: url('../Images/PageWalls/aboutmeWall.png');
}

.aboutme-text {
	padding: 32px;
	font-size: 3vw;
}

.aboutme-desc{
	text-align: center;
}

.aboutme-links{
	padding: 100px;
}

.projects {
	background-image: url('../Images/PageWalls/projectsWall.png');
}

.projects-links {
}

.userlogin-text{
	text-align: right;
}

.col-centerted {
	margin: 0 auto;
	float: none;
}